# generate with openssl rand -hex 32
SESSION_SECRET=...
ENCRYPTION_KEY=...

# DB config
DB_USER=safehaven
DB_PASSWORD=change_this_password
DB_NAME=safehaven
DB_PORT=5432

# AI News Summary
GEMINI_API_KEY=...

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_...
CLERK_SECRET_KEY=sk_...
CLERK_WEBHOOK_SECRET=whsec_...
ALLOWED_ADMIN_EMAILS=admin@example.com,user@example.com
