# generate with openssl rand -hex 32
SESSION_SECRET=...
ENCRYPTION_KEY=...

# DB config
DB_USER=safehaven
DB_PASSWORD=change_this_password
DB_NAME=safehaven
DB_PORT=5432

# AI News Summary
GEMINI_API_KEY=...
